<div class="container mt-2">
    <div class="row ">
        <div class="col text-center">
            <h1 class="text-center  text-danger ">404</h1>
            <img src="https://cdn.svgator.com/images/2022/01/funny-404-error-page-design.gif" alt="">
            <h5 class="fw-border fw-bold">LOOK LIKE YOUR LOST</h5>
            <p class="fw-bold">the page your looking for is not available</p>
            <button routerLink="" class="btn btn-success mt-5 mt=2">home</button>
        </div>
    </div>
</div>